* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    /* background-image: url('../book/images/magical-bookshelf-glowing-books-library-background-395827690.webp'); */
    /* background-image: url('../book/images/images/240_F_1604148251_s1d1TvCNbybMU0OvgrvWBBPAGLAg35yY.jpg'); */

    /* background-repeat: no-repeat; */
    object-fit: cover;
    background-position: 100%;
}

nav {
    /* border:2px solid red; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(2, 7, 27);

}

nav .menu ul {
    list-style-type: none;
    margin-top: 40px;
}

nav .menu ul li {
    display: inline;
    margin: 20px;
}

nav .menu ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

nav .menu ul li a:hover {
    border: none;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

nav .logo {
    width: 100px;
    height: 100px;
}

nav .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border:2px solid red; */
}

 .cardslider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fade 15s infinite;
  }

  .cardslider .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  /* Animation for each image */
  @keyframes fade {
    0% {
      opacity: 0;
    }

    10% {
      opacity: 1;
    }

    20% {
      opacity: 1;
    }

    30% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  /* Stagger animation timing for each image */
  .cardslider .slide:nth-child(1) {
    animation-delay: 0s;
  }

  .cardslider .slide:nth-child(2) {
    animation-delay: 2s;
  }

  .cardslider .slide:nth-child(3) {
    animation-delay: 4s;
  }

  .cardslider .slide:nth-child(4) {
    animation-delay: 6s;
  }

  .cardslider .slide:nth-child(5) {
    animation-delay: 8s;
  }

