<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library Books</title>
    <link rel="stylesheet" href="/books/css/style.css">
    <script>
        function confirmDelete(event, bookTitle) {
            if (!confirm("Are you sure you want to delete \"" + bookTitle + "\"?")) {
                event.preventDefault(); 
            }
        }
    </script>
</head>
<style>
      body { font-family: Arial, sans-serif; margin: 20px; }
        table { width: 100%; border-collapse: collapse; }
        th, td { padding: 10px; border: 1px solid #ccc; text-align: left; }
        th { background-color: #f4f4f4; }
        a{text-decoration: none;color:white};
        
</style>

<body>
    <h1>Library Books</h1>

   

    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
                <th>Total Copies</th>
                <th>Available Copies</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in books %}
            <tr>
                <td>{{ book.title }}</td>
                <td>
                    {% if book.author and book.author.name %}
                    {{ book.author.name }}
                    {% else %}
                    Unknown
                    {% endif %}
                </td>

                <td>{{ book.isbn }}</td>
                <td>{{ book.total_copies }}</td>
                <td>{{ book.available_copies }}</td>
                <td>
                    <button style="background-color: rgb(224, 175, 59);border:none;border-radius: 7px;padding:15px"><a href="{% url 'books:book_edit' book.pk %}">Edit</a> </button>
                    <button style="background-color: brown;border:none;border-radius: 10
                    px;padding:15px;border-radius: 7px"><a href="{% url 'books:book_delete' book.pk %}"
                        onclick="confirmDelete(event, '{{ book.title|escapejs }}')">Delete</a></button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">No books found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
     <button style="margin-top:20px;background-color: rgb(77, 77, 238);color: white;border:none;padding:10px;border-radius: 7px;"><a href="{% url 'books:book_create' %}" style="color:white"> Create New Book</a></button>
</body>

</html>