<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'book/style.css' %}">
</head>

<body>
    <nav>
        <div class="logo">
            <img src="../static/book/images/images (4).jpg" alt="">
        </div>
        <div class="menu">
            <ul>
                <li><a href="create">Book</a></li>
                <li><a href="customer">customer</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="cardslider">
            <div class="slide"><img
                    src="../static/book/images/magical-bookshelf-glowing-books-library-background-395827690.webp"
                    alt=""></div>
            <div class="slide"><img
                    src="../static/book/images/digitization-process-from-books-to-ebooks-from-paper-to-digital-in-a-laptop-photo.jpg"
                    alt=""></div>
            <div class="slide"><img src="../static/book/images/240_F_631924657_pZumG7oIy7aGvmJXWCzNMjKL3iwJbQf5.jpg"
                    alt=""></div>
            <div class="slide"><img src="../static/book/images/240_F_1604148251_s1d1TvCNbybMU0OvgrvWBBPAGLAg35yY.jpg"
                    alt=""></div>

        </div>
    </main>
</body>

</html>